extends ../_base/_layout.pug
block vars
  - var metaTitle = 'Tutorial'
  - var path = '..'
  - var page = 'tutorial'
  - var imgPC = path + '/resources/images/tutorial/'
  - var imgSP = path + '/resources/images/tutorial/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  .c-section-news
    .u-wrapper
      h1.u-display-hidden Tutorial
      +filtersCommonNews()
      +listCommonNews([
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng bang hội"},
          description: "Bang hội nơi những thành viên có cùng chí hướng tập trung lại và phát triển nhanh chóng",
          thumbnail: {src: imgCommonPC+"placeholder_activity_01.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng luyện ngọc rồng"},
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_activity_02.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng ghép ngọc rồng"},
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_activity_03.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng ghép pha lê"},
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_activity_04.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng cường hoá trang bị"},
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_activity_05.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/tutorial/detail/",
          title: {tag: "h2", content: "Chức năng nhiệm vụ ngày"},
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_activity_06.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
      ])
      +paginationCommon().is-nearfooter