@charset "utf-8";

$wrapper-width: 13.52rem;
$font-default: "Source Sans Pro", sans-serif;
$fontsize-default: 0.16rem;
$fontweight-default: 400;
$lineheight-default: calc(24 / 16);
$color-default: #000;
