extends ../_base/_layout.pug
block vars
  - var metaTitle = 'Event'
  - var path = '..'
  - var page = 'event'
  - var imgPC = path + '/resources/images/event/'
  - var imgSP = path + '/resources/images/event/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  .section-common-news
    .wrapper
      +filtersCommonNews()
      +listCommonNews([
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_01.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_02.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_03.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_01.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_02.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
        {
          url: path+"/event/detail/",
          title: "Sự kiện nạp tân thủ",
          description: "Chào mừng bản cập nhật mừng sinh nhật Liên Quân 8 tuổi, chúng tôi xin giới thiệu quà nạp lần đầu mới.",
          thumbnail: {src: imgCommonPC+"placeholder_news_03.jpg", alt: ""},
          date: {value: "15/09/2025", format: "2025-09-15"},
          views: 9686,
        },
      ])
      +paginationCommon().is-nearfooter