extends ../../_base/_layout.pug
block vars
  - var metaTitle = 'Event Detail'
  - var path = '../..'
  - var page = 'event'
  - var imgPC = path + '/resources/images/event/'
  - var imgSP = path + '/resources/images/event/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  +breadcrumbCommon([
    {url: path+"/event/", title: "Sự kiện"},
    {url: null, title: "Sự kiện nạp tân thủ"},
  ])
  .c-single
    .u-wrapper
      .c-single__heading
        h1.c-single__heading-title Sự kiện nạp tân thủ
      .c-post
        h2 I. Thời gian
        p Từ 12h00 ngày 14/10/2025 đến hết 23h59 ngày 18/10/2025
        h2 II. Nội dung
        h3 1. Nạp thẻ tân thủ
        p Trong thời gian diễn ra sự kiện người chơi tiến hành nạp game sẽ nhận được những phần quà hấp dẫn dưới đây
        ul
          li x1 cải trang Android số 17
          li 50 triệu Zeni khoá
          li Sách biến hình 5
          li Pet mộc long
        figure
          img(src=imgCommonPC+"placeholder_single_01.jpg" alt="Logo")
        h3 2. Nạp thẻ cho thành viên cũ
        p Trong thời gian diễn ra sự kiện người chơi tiến hành nạp ít nhất 50k sẽ được x2 phần thưởng và ngẫu nhiên nhận thêm 1 phần quà bí mật
        figure
          img(src=imgCommonPC+"placeholder_single_02.jpg" alt="Logo")
      .c-single-footing
        .c-properties-information.is-footing
          time.c-properties-information__date(datetime="2025-10-14")
            span.c-properties-information__date-label Ngày đăng:
            span.c-properties-information__date-wrapper 14/10/2025
          .c-icon-views
            span.c-icon-views__wrapper 9686