extends ../../_base/_layout.pug
block vars
  - var metaTitle = 'Tutorial Detail'
  - var path = '../..'
  - var page = 'tutorial'
  - var imgPC = path + '/resources/images/tutorial/'
  - var imgSP = path + '/resources/images/tutorial/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

block content
  +breadcrumbCommon([
    {url: path+"/tutorial/", title: "Hướng dẫn"},
    {url: null, title: "Ghép ngọc rồng"},
  ])
  .c-single
    .u-wrapper
      .c-single__heading
        h1.c-single__heading-title Ghép ngọc rồng
        .c-single__heading-excerpt Ghép ngọc rồng là chức năng giúp người chơi đổi những Tinh thể rồng thanh những viên Ngọc rồng hoàn chỉnh
      .c-post
        h2 1. Địa điểm 
        p Người chơi đến gặp NPC Thướng Đế tại Thần Điện để thực hiện chức năng
        h2 2. Cách thức quy đổi
        ul
          li Có 4 loại Ngọc rồng mà người chơi có thể ghép: 
            ul
              li Ngọc rồng trái đất:
              li Ngọc rồng hắc ám
              li Ngọc rồng đại ma giới
              li Ngọc rồng siêu cấp
          li Mỗi loại Ngọc rồng cần có 70 Tinh thể rồng và 1 Vé ghép ngọc rồng để tiến hành Ghép
          li Khi ghép thành công người chơi nhận ngẫu nhiên Ngọc rồng từ 3 → 7 sao, riêng Ngọc rồng đại ma giới nhận 3 hoặc 2 sao
          li Tỷ lệ nhận được Ngọc rồng cao cấp của mỗi loại Ngọc rồng là khác nhau
        figure
          img(src=imgCommonPC+"placeholder_single_04.jpg" alt="Logo")
      .c-single-footing
        .c-properties-information.is-footing
          time.c-properties-information__date(datetime="2025-10-14")
            span.c-properties-information__date-label Ngày đăng:
            span.c-properties-information__date-wrapper 14/10/2025
          .c-icon-views
            span.c-icon-views__wrapper 9686