@charset "utf-8";
@use "../../_base/base" as *;

.c-input-search {
  display: flex;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  input {
    width: 100%;
    flex: 1 1 0;
    position: relative;
    z-index: 0;
    background: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 1px 0.04rem rgba(0, 0, 0, 0.25);
    border-radius: .1rem;

    @include placeholder {
      color: #979797;
      opacity: 1;
    }
  }

  button {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }

  @include desktop {
    width: 3.45rem;
    font-size: .24rem;

    input {
      height: .51rem;
      padding: 0 .67rem 0 .24rem;
    }

    button {
      width: 0.67rem;
      background: url(../resources/images/common/icon_search_01.svg) calc(0% + .15rem) 50% / .27rem auto no-repeat;
    }
  }

  @include mobile {
    width: 1.45rem;
    font-size: .08rem;

    input {
      height: .21rem;
      padding: 0 0.3rem 0 .18rem;
    }

    button {
      width: 0.3rem;
      background: url(../resources/images/common/icon_search_01.svg) calc(0% + .1rem) 50% / .11rem auto no-repeat;
    }
  }
}