@charset "utf-8";
@use "../../_base/base" as *;

.c-list-news {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  .c-list-news__item-wrapper {
    display: flex;
  }

  .c-list-news__item-thumbnail {
    flex: 0 0 auto;
  }

  .c-list-news__thumbnail-wrapper {
    position: relative;
    padding-top: calc(224 / 399 * 100%);

    .u-object {
      position: absolute;
      inset: 0;
    }
  }

  .c-list-news__item-information {
    flex: 1 1 0;
  }

  .c-list-news__information-title {
    margin: 0;
    display: block;
    font-weight: 700;
    color: #efa009;
    @include text-ellipse(2);
  }

  .c-list-news__information-detail {
    font-weight: 600;
    color: #4a4a4a;
    @include text-ellipse(3);

    p {
      margin: 0;
    }
  }

  @include desktop {
    padding: 0 .33rem 0 .19rem;
    gap: .26rem;

    .c-list-news__item-wrapper {
      gap: .5rem;
    }

    .c-list-news__item-thumbnail {
      width: 3.99rem;
    }

    .c-list-news__information-title {
      margin: 0.05rem 0 0.12rem;
      font-size: .36rem;
      line-height: calc(45 / 36);
    }

    .c-list-news__information-detail {
      padding-right: 1.13rem;
      font-size: .25rem;
      line-height: calc(31 / 25);
    }

    .c-properties-information {
      margin-top: 0.19rem;
    }
  }

  @include mobile {
    gap: .15rem;

    .c-list-news__item-wrapper {
      gap: .11rem;
    }

    .c-list-news__item-thumbnail {
      width: 1.41rem;
    }

    .c-list-news__information-title {
      margin-bottom: .01rem;
      font-size: .14rem;
      line-height: calc(18 / 14);
    }

    .c-list-news__information-detail {
      padding-right: .37rem;
      font-size: .12rem;
      line-height: calc(15 / 12);
    }

    .c-properties-information {
      margin-top: 0;
    }
  }
}