@charset "utf-8";
@use "../../_base/base" as *;

.c-list-news {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  .c-list-news__item-wrapper {
    display: flex;
  }

  .c-list-news__item-thumbnail {
    flex: 0 0 auto;
  }

  .c-list-news__thumbnail-wrapper {
    position: relative;
    padding-top: calc(224 / 399 * 100%);

    .u-object {
      position: absolute;
      inset: 0;
    }
  }

  .c-list-news__item-information {
    flex: 1 1 0;
  }

  .c-list-news__information-title {
    margin: 0;
    display: block;
    font-weight: 700;
    color: #efa009;
    @include text-ellipse(2);
  }

  .c-list-news__information-detail {
    font-weight: 600;
    color: #4a4a4a;
    @include text-ellipse(3);

    p {
      margin: 0;
    }
  }

  @include desktop {
    padding: 0 .33rem 0 .19rem;
    gap: .26rem;

    .c-list-news__item-wrapper {
      gap: .5rem;
    }

    .c-list-news__item-thumbnail {
      width: 3.99rem;
    }

    .c-list-news__information-title {
      margin: 0.05rem 0 0.12rem;
      font-size: .36rem;
      line-height: calc(45 / 36);
    }

    .c-list-news__information-detail {
      padding-right: 1.13rem;
      font-size: .25rem;
      line-height: calc(31 / 25);
    }

    .c-properties-information {
      margin-top: 0.19rem;
    }
  }

  @include mobile {
    gap: .15rem;

    .c-list-news__item-wrapper {
      gap: .11rem;
    }

    .c-list-news__item-thumbnail {
      width: 1.41rem;
    }

    .c-list-news__information-title {
      margin-bottom: .01rem;
      font-size: .14rem;
      line-height: calc(18 / 14);
    }

    .c-list-news__information-detail {
      padding-right: .37rem;
      font-size: .12rem;
      line-height: calc(15 / 12);
    }

    .c-properties-information {
      margin-top: 0;
    }
  }
}

.c-list-skills {
  display: flex;
  flex-direction: column;
  font-family: "Oxanium", sans-serif;
  font-weight: 600;

  .c-list-skills__item {
    display: flex;
    align-items: center;
  }

  .c-list-skills__item-icon {
    flex: 0 0 auto;
    position: relative;
  }

  .c-list-skills__icon-wrapper {
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    &::before {
      border-radius: 50%;
      box-shadow: inset 0 0.04rem .1rem 0.05rem rgba(0, 0, 0, 0.25);
      z-index: 1;
    }

    &::after {
      background: linear-gradient(to bottom, #ffd363, #efa009) 50% 50% / 100% 100% no-repeat;
      mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><circle cx='50' cy='50' r='50' fill='000'/></svg>"), url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><circle cx='50' cy='50' r='50' fill='000'/></svg>");
      mask-composite: subtract;
      mask-position: 50% 50%, 50% 50%;
      mask-repeat: no-repeat, no-repeat;
      z-index: 2;
    }

    .u-object {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .c-list-skills__item-title {
    margin: 0;
    display: block;
    position: relative;
    color: #efa009;
  }

  .c-list-skills__item-description {
    p {
      margin: 0;
    }
  }

  @include desktop {
    padding: 0 calc((100% - 3.46rem) / 2);
    gap: 0.42rem;

    .c-list-skills__item {
      gap: .22rem;
    }

    .c-list-skills__item-icon {
      width: 1.03rem;
    }

    .c-list-skills__icon-wrapper {
      &::after {
        mask-size: 100% 100%, calc(100% - 0.08rem) calc(100% - 0.08rem);
      }
    }

    .c-list-skills__item-title {
      margin-bottom: 0.07rem;
      font-size: 0.3rem;
      line-height: calc(38 / 30);
    }

    .c-list-skills__item-description {
      font-size: 0.2rem;
      line-height: calc(25 / 20);
    }
  }
}