@charset "utf-8";
@use "../../_base/base" as *;

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #4a4a4a;
  text-align: center;

  .c-pagination__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .c-pagination__arrow-wrapper,
  .c-pagination__entry-wrapper {
    background-color: #f8f8f8;
    border: 1px solid #bab5b5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.5s ease, color 0.5s ease;

    &:not(span):hover,
    &.is-current {
      background-color: #efa009;
      color: #2a2727;
    }
  }

  .c-pagination__arrow-wrapper::after {
    content: "";
    mask: 50% 50% / auto auto no-repeat;
    background-color: #4a4a4a;
    position: absolute;
    inset: 0;
    transition: background 0.5s ease;
  }

  .c-pagination__arrow-wrapper.is-first,
  .c-pagination__arrow-wrapper.is-last {
    &::after {
      mask-image: url(../resources/images/common/icon_pagination_01.svg);
    }
  }

  .c-pagination__arrow-wrapper.is-previous,
  .c-pagination__arrow-wrapper.is-next {
    &::after {
      mask-image: url(../resources/images/common/icon_pagination_02.svg);
    }
  }

  .c-pagination__arrow-wrapper.is-last,
  .c-pagination__arrow-wrapper.is-next {
    transform: scale(-1, 1);
  }

  .c-pagination__arrow-wrapper.is-disabled {
    &::after {
      opacity: 0.6;
    }
  }

  .c-pagination__dots-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include desktop {
    margin-top: .49rem;
    font-size: .3rem;
    line-height: calc(38 / 30);
    gap: .14rem;

    .c-pagination__wrapper {
      gap: .14rem;
    }

    .c-pagination__arrow-wrapper,
    .c-pagination__entry-wrapper {
      min-width: .54rem;
      min-height: .54rem;
      padding: 0.07rem .05rem;
      border-radius: .14rem;
    }

    .c-pagination__arrow-wrapper.is-first,
    .c-pagination__arrow-wrapper.is-last {
      &::after {
        mask-size: .53rem auto;
      }
    }

    .c-pagination__arrow-wrapper.is-previous,
    .c-pagination__arrow-wrapper.is-next {
      &::after {
        mask-size: .36rem auto;
      }
    }
  }

  @include mobile {
    margin-top: .1rem;
    font-size: .11rem;
    line-height: calc(13 / 11);
    gap: .05rem;

    .c-pagination__wrapper {
      gap: .05rem;
    }

    .c-pagination__arrow-wrapper,
    .c-pagination__entry-wrapper {
      min-width: .19rem;
      min-height: .19rem;
      padding: 0.02rem .03rem;
      border-radius: .05rem;
    }

    .c-pagination__arrow-wrapper.is-first,
    .c-pagination__arrow-wrapper.is-last {
      &::after {
        mask-size: .18rem auto;
      }
    }

    .c-pagination__arrow-wrapper.is-previous,
    .c-pagination__arrow-wrapper.is-next {
      &::after {
        mask-size: .13rem auto;
      }
    }
  }
}

.c-pagination.is-neartitle {
  @include desktop {
    padding-left: 4.19rem;
    justify-content: flex-start;
  }
}

.c-pagination.is-nearfooter {
  @include desktop {
    padding-left: 4.37rem;
    justify-content: flex-start;
  }

  @include mobile {
    margin-top: .9rem;
  }
}