@charset "utf-8";
@use "../../_base/base" as *;

.c-properties-information {
  gap: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a4a4a;

  .c-properties-information__date {
    display: block;
    font-weight: 600;
  }

  .c-properties-information__date-label {
    margin-right: .19rem;
  }

  .c-properties-information__date-wrapper {
    color: #b4b4b4;
  }

  @include desktop {
    .c-properties-information__date {
      font-size: .25rem;
      line-height: calc(31 / 25);
    }
  }

  @include mobile {
    .c-properties-information__date {
      font-size: .1rem;
      line-height: calc(13 / 10);
    }
  }
}

.c-properties-information.is-footing {
  justify-content: flex-end;
}