@charset "utf-8";
@use "../../_base/base"as *;

.section-common-news {
  position: relative;
  z-index: 1;
  
  @include desktop {
    padding: 0.6rem 0 0.03rem;
  }

  @include mobile {
    padding: 1.04rem 0 0.03rem;
  }
}