@charset "utf-8";
@use "../../_base/base" as *;

.c-single {
  color: #4a4a4a;

  .c-single__heading-title {
    margin: 0;
    display: block;
    font-weight: 700;
    text-align: center;
    color: #efa009;
  }

  .c-single__heading-excerpt {
    font-weight: 700;
  }

  @include desktop {
    padding-bottom: .43rem;

    .c-single__heading {
      margin-bottom: .34rem;
    }

    .c-single__heading:has(.c-single__heading-excerpt) {
      margin-bottom: .13rem;

      .c-single__heading-title {
        margin-bottom: .35rem;
      }
    }

    .c-single__heading-title {
      font-size: .58rem;
      line-height: calc(73 / 58);
    }

    .c-single__heading-excerpt {
      font-size: .25rem;
      line-height: calc(35 / 25);
    }

    .u-wrapper {
      max-width: 12.3rem;
    }

    .c-single-footing {
      margin-top: .55rem;
    }
  }

  @include mobile {
    padding-bottom: .21rem;

    .c-single__heading {
      margin-bottom: .35rem;
    }

    .c-single__heading:has(.c-single__heading-excerpt) {
      margin-bottom: .175rem;

      .c-single__heading-title {
        margin-bottom: .35rem;
      }
    }

    .c-single__heading-title {
      font-size: .28rem;
      line-height: calc(35 / 28);
    }

    .c-single__heading-excerpt {
      font-size: .12rem;
      line-height: calc(17.5 / 12);
    }

    .u-wrapper {
      width: calc(100% - 0.35rem);
    }

    .c-single-footing {
      margin-top: .19rem;
    }
  }
}

.c-post {
  color: #4a4a4a;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  p {
    font-size: 1em;
  }

  ul {
    list-style-type: none;

    ul {
      li::before {
        content: "+ ";
        border-radius: none;
        background: transparent;
      }
    }

    li {
      position: relative;
    }

    li:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: #4a4a4a;
    }
  }

  ol {
    list-style-type: decimal;
  }

  figure {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @include desktop {
    font-size: .25rem;
    line-height: calc(35 / 25);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: .1rem;

      &+p {
        margin-top: .22rem;
      }

      &+figure {
        margin-top: .55rem;
      }
    }

    h2 {
      font-size: calc(40 / 25 * 1em);
      line-height: calc(50 / 40);
    }

    h3 {
      font-size: calc(32 / 25 * 1em);
      line-height: calc(40 / 32);
    }

    h4,
    h5,
    h6 {
      line-height: calc(40 / 32);
    }

    h4 {
      font-size: calc(30 / 25 * 1em);
    }

    h5 {
      font-size: calc(28 / 25 * 1em);
    }

    h6 {
      font-size: calc(26 / 25 * 1em);
    }

    p {
      margin-bottom: .35rem;

      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: .35rem;
      }

      &+ul,
      &+ol {
        margin-top: -.35rem;
      }
    }

    ul,
    ol {
      margin-bottom: 0.35rem;
      padding-left: .42rem;

      &+figure {
        margin-top: .58rem;
      }

      ul,
      ol {
        padding-left: .25rem;
      }

      ul {
        li::before {
          width: auto;
          height: auto;
          top: 0;
          left: -.18rem;
        }
      }
    }

    ul {
      li::before {
        width: 0.05rem;
        height: 0.05rem;
        top: calc((35 - 5) / 2 * 0.01rem);
        left: -0.25rem;
      }
    }

    figure {
      margin-bottom: .28rem;
    }
  }

  @include mobile {
    font-size: .12rem;
    line-height: calc(17.5 / 12);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: .06rem;

      &+p {
        margin-top: .1rem;
      }

      &+figure {
        margin-top: .55rem;
      }
    }

    h2 {
      font-size: calc(20 / 12 * 1em);
      line-height: calc(25 / 20);
    }

    h3 {
      font-size: calc(14 / 12 * 1em);
      line-height: calc(18 / 14);
    }

    h4,
    h5,
    h6 {
      line-height: calc(18 / 14);
    }

    h4 {
      font-size: calc(16 / 12 * 1em);
    }

    h5 {
      font-size: calc(14 / 12 * 1em);
    }

    h6 {
      font-size: calc(13 / 12 * 1em);
    }

    p {
      margin-bottom: .175rem;

      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: -0.115rem;
      }

      &+ul,
      &+ol {
        margin-top: -.175rem;
      }
    }

    ul,
    ol {
      margin-bottom: 0.175rem;
      padding-left: .16rem;

      &+figure {
        margin-top: .175rem;
      }

      ul,
      ol {
        padding-left: .1rem;
      }

      ul {
        li::before {
          width: auto;
          height: auto;
          top: 0;
          left: -.1rem;
        }
      }
    }

    ul {
      li::before {
        width: 0.02rem;
        height: 0.02rem;
        top: calc((17.5 - 2) / 2 * 0.01rem);
        left: -0.1rem;
      }
    }

    figure {
      margin-bottom: .14rem;
    }
  }
}