@charset "utf-8";
@use "../../_base/base" as *;

.c-slider-character {
  .c-slider-character__arrow {
    margin: 0;
    background-color: #ffd363;
    transform: none;
    mask: url(../resources/images/common/icon_arrow_03.svg) 50% 50% / 100% auto no-repeat;

    &::after {
      display: none;
    }
  }

  .c-slider-character__arrow.swiper-button-prev {
    transform: scale(-1, 1);
  }

  .c-slider-character__arrow {
    transition: opacity 0.5s ease;
  }

  .c-slide-character__arrow.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include desktop {
    .c-slider-character__arrow {
      width: 0.96rem;
      height: 0.96rem;
      top: calc((50% - 0.96rem / 2) - (0.53rem / 2));
    }

    .c-slider-character__arrow.swiper-button-prev {
      left: calc(50% - 7.2rem);
    }

    .c-slider-character__arrow.swiper-button-next {
      right: calc(50% - 7.2rem);
    }
  }

  @include mobile {
    .c-slider-character__arrow {
      width: 0.37rem;
      height: 0.37rem;
      top: calc((50% - 0.37rem / 2) - (0.12rem / 2));
    }

    .c-slider-character__arrow.swiper-button-prev {
      left: 0;
    }

    .c-slider-character__arrow.swiper-button-next {
      right: 0;
    }
  }
}

.c-slide-character {
  position: relative;
  color: #fff;
  font-family: "Oxanium", sans-serif;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: #fff;
    opacity: 0.16;
  }

  .c-slide-character__viewport {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .c-slide-character__thumbnail {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .c-slide-character__thumbnail-wrapper {
    padding-top: calc(600 / 400 * 100%);
    position: relative;
    flex: 0 0 auto;

    .u-object {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .c-slide-character__title {
    margin: 0;
    display: block;
    font-weight: 500;
    text-align: center;
  }

  @include desktop {
    &::before {
      mask: url(../resources/images/common/mask_character_01.svg) calc(50% - 1.09rem) calc(50% + 0.13rem) / 23.33rem auto no-repeat;
    }

    .c-slide-character__viewport {
      max-width: 14.4rem;
      margin: 0 auto;
      padding: 0.95rem 0.92rem 0;
    }

    .c-slide-character__wrapper {
      order: 2;
    }

    .c-slide-character__thumbnail {
      margin-top: 0.6rem;
    }

    .c-slide-character__thumbnail-wrapper {
      width: 4rem;
    }

    .c-slide-character__title {
      margin: -0.32rem 0 0.08rem;
      font-size: 0.63rem;
      line-height: calc(79 / 63);
    }

    .c-frame-tabbing {
      display: block;
      order: 1;
    }

    .c-card-character.is-standalone {
      order: 3;
    }
  }

  @include mobile {
    &::before {
      mask: url(../resources/images/common/sp/mask_character_01.svg) 50% calc(50% - 0.22rem) / 100% auto no-repeat;
    }

    .c-slide-character__viewport {
      padding: 0.24rem 0.29rem 0;
    }

    .c-slide-character__wrapper {
      order: 2;
    }

    .c-slide-character__thumbnail {
      margin: -0.01rem -0.05rem;
    }

    .c-slide-character__thumbnail-wrapper {
      width: 1.55rem;
    }

    .c-slide-character__title {
      margin: -0.08rem 0 0.03rem;
      font-size: 0.18rem;
      line-height: calc(23 / 18);
    }

    .c-frame-tabbing {
      position: absolute;
      top: 0.35rem;
      right: 0.29rem;
      z-index: 2;
    }

    .c-card-character.is-standalone {
      order: 1;
    }

    .c-slide-character__toggle {
      display: flex;
      align-items: center;
      position: absolute;
      gap: 0.05rem;
      top: 0.1rem;
      right: 0.07rem;
      font-size: 0.1rem;
      line-height: calc(13 / 10);
      cursor: pointer;
    }

    .c-slide-character__toggle-wrapper {
      top: 0.01rem;
      position: relative;
    }
  }
}

.c-slide-character.is-goku {
  &::before {
    background-color: #f68718;
  }

  .c-slide-character__title {
    color: #efa009;
  }

  .c-card-character {
    .c-card-character__label {
      color: #ffd363;
    }
  }

  .c-list-skills {
    .c-list-skills__item-title {
      color: #efa009;
    }
  }

  .c-slider-skills {
    .c-slider-skills__pagination {
      .swiper-pagination-bullet {
        background-color: #ffd363;
      }
    }
  }

  @include desktop {
    .c-card-character {
      .c-card-character__wrapper {
        --border-color: #ffd363;
        background-color: rgba(#3d2208, 0.27);

        &::before,
        &::after {
          border-color: #ffd363;
          background-color: rgba(#3d2208, 0.27);
        }
      }
    }
  }

  @include mobile {
    .c-card-character {
      --border-color: #ffd363;
      background-color: rgba(#3d2208, 0.27);

      &::before,
      &::after {
        border-color: #ffd363;
        background-color: rgba(#3d2208, 0.27);
      }
    }

    .c-card-character__wrapper:first-child {
      .c-card-character__label-extra {
        color: #efa009;
      }
    }

    .c-card-character__wrapper:not(:first-child) {
      .c-card-character__label {
        color: #efa009;
      }
    }
  }
}

.c-slide-character.is-buu {
  &::before {
    background-color: #f618c6;
  }

  .c-slide-character__title {
    color: #fa9eff;
  }

  .c-card-character {
    .c-card-character__label {
      color: #fa9eff;
    }
  }

  .c-list-skills {
    .c-list-skills__item-title {
      color: #fa9eff;
    }
  }

  .c-slider-skills {
    .c-slider-skills__pagination {
      .swiper-pagination-bullet {
        background-color: #fa9eff;
      }
    }
  }

  @include desktop {
    .c-card-character {
      .c-card-character__wrapper {
        --border-color: #fa9eff;
        background-color: rgba(#3d2208, 0.27);

        &::before,
        &::after {
          border-color: #fa9eff;
          background-color: rgba(#3d2208, 0.27);
        }
      }
    }
  }

  @include mobile {
    .c-card-character {
      --border-color: #fa9eff;
      background-color: rgba(#3d2208, 0.27);

      &::before,
      &::after {
        border-color: #fa9eff;
        background-color: rgba(#3d2208, 0.27);
      }
    }

    .c-card-character__wrapper:first-child {
      .c-card-character__label-extra {
        color: #fa9eff;
      }
    }

    .c-card-character__wrapper:not(:first-child) {
      .c-card-character__label {
        color: #fa9eff;
      }
    }
  }
}

.c-slide-character.is-cell {
  &::before {
    background-color: #18e7f6;
  }

  .c-slide-character__title {
    color: #9effe8;
  }

  .c-card-character {
    .c-card-character__label {
      color: #9effe8;
    }
  }

  .c-list-skills {
    .c-list-skills__item-title {
      color: #9effe8;
    }
  }

  .c-slider-skills {
    .c-slider-skills__pagination {
      .swiper-pagination-bullet {
        background-color: #9effe8;
      }
    }
  }

  @include desktop {
    .c-card-character {
      .c-card-character__wrapper {
        --border-color: #9effe8;
        background-color: rgba(#3d2208, 0.27);

        &::before,
        &::after {
          border-color: #9effe8;
          background-color: rgba(#3d2208, 0.27);
        }
      }
    }
  }

  @include mobile {
    .c-card-character {
      --border-color: #9effe8;
      background-color: rgba(#3d2208, 0.27);

      &::before,
      &::after {
        border-color: #9effe8;
        background-color: rgba(#3d2208, 0.27);
      }
    }

    .c-card-character__wrapper:first-child {
      .c-card-character__label-extra {
        color: #9effe8;
      }
    }

    .c-card-character__wrapper:not(:first-child) {
      .c-card-character__label {
        color: #9effe8;
      }
    }
  }
}

.c-slider-skills {
  .c-slider-skills__pagination {
    height: auto;
    margin: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;

    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      flex: 0 0 auto;
      border-radius: 0;
      background-color: #fff;
      opacity: 0.5;
      transition: 0.5s ease;
    }

    .swiper-pagination-bullet:hover,
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  @include desktop {
    .c-slider-skills__pagination {
      margin-top: 0.45rem;
      gap: .18rem;
      font-size: .2rem;
      font-weight: calc(25 / 20);

      .swiper-pagination-bullet {
        min-width: 0.4rem;
        min-height: 0.4rem;
        padding: 0.05rem;
        border-radius: 0.15rem;
      }
    }
  }

  @include mobile {
    .c-slider-skills__pagination {
      margin-top: 0.04rem;
      gap: .06rem;
      font-size: .072rem;
      font-weight: calc(9 / 7.2);

      .swiper-pagination-bullet {
        min-width: 0.14rem;
        min-height: 0.14rem;
        padding: 0.02rem;
        border-radius: 0.054rem;
      }
    }
  }
}