@charset "utf-8";
@use "../../_base/base" as *;

.c-slide-character {
  color: #fff;
  font-family: "Oxanium", sans-serif;

  .c-slide-character__viewport {
    display: flex;
    justify-content: space-between;
  }

  .c-slide-character__thumbnail {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .c-slide-character__thumbnail-wrapper {
    padding-top: calc(600 / 400 * 100%);
    position: relative;
    flex: 0 0 auto;

    .u-object {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .c-slide-character__title {
    margin: 0;
    display: block;
    font-weight: 500;
    text-align: center;
  }

  @include desktop {
    padding: 0.95rem 0.92rem 0;

    .c-slide-character__wrapper {
      order: 2;
    }

    .c-slide-character__thumbnail {
      margin: 0.6rem 0 0.29rem;
    }

    .c-slide-character__thumbnail-wrapper {
      width: 4rem;
    }

    .c-slide-character__title {
      margin-bottom: 0.08rem;
      font-size: 0.63rem;
      line-height: calc(79 / 63);
    }

    .c-frame-tabbing {
      display: block;
      order: 1;
    }

    .c-card-character.is-standalone {
      order: 3;
    }
  }
}

.c-slider-skills {
  .c-slider-skills__pagination {
    height: auto;
    margin: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;

    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      flex: 0 0 auto;
      border-radius: 0;
      background-color: #ffd363;
      opacity: 0.5;
      transition: 0.5s ease;
    }

    .swiper-pagination-bullet:hover,
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  @include desktop {
    .c-slider-skills__viewport {}

    .c-slider-skills__pagination {
      margin-top: 0.45rem;
      gap: .18rem;
      font-size: .2rem;
      font-weight: calc(25 / 20);

      .swiper-pagination-bullet {
        min-width: 0.4rem;
        min-height: 0.4rem;
        padding: 0.05rem;
        border-radius: 0.15rem;
      }
    }
  }
}