@charset "utf-8";
@use "_base/base" as *;

@keyframes floatTopVisual {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(6px, -4px);
  }

  20% {
    transform: translate(-5px, 3px);
  }

  30% {
    transform: translate(8px, 2px);
  }

  40% {
    transform: translate(-7px, -6px);
  }

  50% {
    transform: translate(4px, 8px);
  }

  60% {
    transform: translate(-3px, -5px);
  }

  70% {
    transform: translate(7px, -2px);
  }

  80% {
    transform: translate(-6px, 5px);
  }

  90% {
    transform: translate(3px, -7px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.p-visual-top {
  position: relative;
  overflow: hidden;

  .u-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    height: 11.08rem;
    background: url(../resources/images/top/background_visual_01.svg) 50% calc(50% - 1.33rem) / 20.15rem auto no-repeat, url(../resources/images/top/background_visual_02.jpg) 50% 0% / cover no-repeat;
  }

  @include mobile {
    height: 4.98rem;
    background: url(../resources/images/top/sp/background_visual_01.svg) 50% 0% / 100% auto no-repeat, url(../resources/images/top/sp/background_visual_02.jpg) 50% 0% / cover no-repeat;
  }
}

.p-banner-top-visual {
  width: 100%;
  position: relative;
  z-index: 0;

  @include desktop {
    margin-bottom: -1.14rem;
    padding-top: calc(910 / 1352 * 100%);

    .p-banner-top-visual__wrapper {
      position: absolute;
      inset: 0;
    }

    .p-banner-top-visual__logo {
      position: absolute;
      z-index: 1;
      width: calc(802 / 1352 * 100%);
      top: calc(111 / 910 * 100%);
      left: calc(263 / 1352 * 100%);
    }

    .p-banner-top-visual__background {
      position: absolute;
      inset: 0;
      z-index: 0;
    }

    .p-banner-top-visual__background-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: transform 0.5s linear;

      .p-banner-top-visual__image-wrapper {
        position: relative;
        animation: floatTopVisual 12s infinite linear;
      }
    }

    .p-banner-top-visual__background-image:nth-child(1) {
      width: calc(7.4rem / 2);
      top: calc(369 / 910 * 100%);
      left: calc(-8 / 1352 * 100%);
      z-index: 3;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.1s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(2) {
      width: calc(9.8rem / 2);
      top: calc(-10 / 910 * 100%);
      left: calc(-45 / 1352 * 100%);
      z-index: 2;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.2s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(3) {
      width: calc(8.62rem / 2);
      top: calc(58 / 910 * 100%);
      left: calc(292 / 1352 * 100%);
      z-index: 1;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.3s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(4) {
      width: calc(10.72rem / 2);
      top: calc(10 / 910 * 100%);
      left: calc(930 / 1352 * 100%);
      z-index: 1;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.4s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(5) {
      width: calc(8.76rem / 2);
      top: calc(99 / 910 * 100%);
      left: calc(883 / 1352 * 100%);
      z-index: 2;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.5s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(6) {
      width: calc(10.38rem / 2);
      top: calc(507 / 910 * 100%);
      left: calc(677 / 1352 * 100%);
      z-index: 3;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.6s;
      }
    }
  }

  @include mobile {
    margin: 0.31rem -0.1rem 0;
  }
}

.p-list-top-system {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  position: relative;
  z-index: 1;

  .p-list-top-system__item {
    width: 100%;
  }

  @include desktop {
    max-width: 12.42rem;
    margin-bottom: .41rem;
    gap: .42rem;
  }
}

.p-button-top-system {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 0;
    filter: blur(0.07rem);
  }

  .p-button-system__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(0 0.04rem 0.02rem rgba(0, 0, 0, 0.25));
  }

  .p-button-system__shadow::before {
    content: "";
    background-color: #efa009;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .p-button-top-system__wrapper {
    background-color: #121212;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .p-button-top-system__icon {
    flex: 0 0 auto;
  }

  .p-button-top-system__label {
    display: block;
    position: relative;

    &>* {
      display: block;
      position: relative;
    }
  }

  .p-button-top-system__label-main {
    font-weight: 500;
  }

  @include desktop {
    &::before {
      top: 0.04rem;
    }

    .p-button-system__shadow {
      top: 0.04rem;
      left: 0.04rem;
    }

    .p-button-system__shadow::before {
      clip-path: polygon(calc(.13rem) 0, 100% 0, 100% calc(100% - 0.13rem), calc(100% - 0.13rem) 100%, 0 100%, 0% calc(.13rem));
    }

    .p-button-top-system__wrapper {
      height: .78rem;
      padding: 0.05rem 0.13rem;
      clip-path: polygon(calc(.13rem) 0, 100% 0, 100% calc(100% - 0.13rem), calc(100% - 0.13rem) 100%, 0 100%, 0% calc(.13rem));
      gap: 0.16rem;
    }

    .p-button-top-system__icon {
      width: 0.5rem;
      margin-right: 0;
    }

    .p-button-top-system__label-sub {
      margin: -0.02rem 0 -0.05rem;
      font-size: .18rem;
      line-height: calc(21 / 18);
    }

    .p-button-top-system__label-main {
      font-size: .3rem;
      line-height: calc(36 / 30);
      letter-spacing: -0.07em;
    }
  }
}

.p-button-top-higlight {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../resources/images/top/button_highlight_01_background.svg) 50% 50% / 100% 100% no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .p-button-top-system__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
}