@charset "utf-8";
@use "_base/base"as *;

@keyframes floatTopVisual {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(6px, -4px);
  }

  20% {
    transform: translate(-5px, 3px);
  }

  30% {
    transform: translate(8px, 2px);
  }

  40% {
    transform: translate(-7px, -6px);
  }

  50% {
    transform: translate(4px, 8px);
  }

  60% {
    transform: translate(-3px, -5px);
  }

  70% {
    transform: translate(7px, -2px);
  }

  80% {
    transform: translate(-6px, 5px);
  }

  90% {
    transform: translate(3px, -7px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.p-visual-top {
  position: relative;
  overflow: hidden;

  .u-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    padding-bottom: 0.82rem;
    background: url(../resources/images/top/background_visual_01.svg) 50% calc(50% - 1.33rem) / 20.15rem auto no-repeat, url(../resources/images/top/background_visual_02.jpg) 50% 0% / cover no-repeat;
  }

  @include mobile {
    padding-bottom: 0.3rem;
    background: url(../resources/images/top/sp/background_visual_01.svg) 50% 0% / 100% auto no-repeat, url(../resources/images/top/sp/background_visual_02.jpg) 50% 0% / cover no-repeat;
  }
}

.p-banner-top-visual {
  width: 100%;
  position: relative;
  z-index: 0;

  @include desktop {
    margin-bottom: -1.14rem;
    padding-top: calc(910 / 1352 * 100%);

    .p-banner-top-visual__wrapper {
      position: absolute;
      inset: 0;
    }

    .p-banner-top-visual__logo {
      position: absolute;
      z-index: 1;
      width: calc(802 / 1352 * 100%);
      top: calc(111 / 910 * 100%);
      left: calc(263 / 1352 * 100%);
    }

    .p-banner-top-visual__background {
      position: absolute;
      inset: 0;
      z-index: 0;
    }

    .p-banner-top-visual__background-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transition: transform 0.5s linear;

      .p-banner-top-visual__image-wrapper {
        position: relative;
        animation: floatTopVisual 12s infinite linear;
      }
    }

    .p-banner-top-visual__background-image:nth-child(1) {
      width: calc(7.4rem / 2);
      top: calc(369 / 910 * 100%);
      left: calc(-8 / 1352 * 100%);
      z-index: 3;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.1s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(2) {
      width: calc(9.8rem / 2);
      top: calc(-10 / 910 * 100%);
      left: calc(-45 / 1352 * 100%);
      z-index: 2;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.2s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(3) {
      width: calc(8.62rem / 2);
      top: calc(58 / 910 * 100%);
      left: calc(292 / 1352 * 100%);
      z-index: 1;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.3s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(4) {
      width: calc(10.72rem / 2);
      top: calc(10 / 910 * 100%);
      left: calc(930 / 1352 * 100%);
      z-index: 1;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.4s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(5) {
      width: calc(8.76rem / 2);
      top: calc(99 / 910 * 100%);
      left: calc(883 / 1352 * 100%);
      z-index: 2;

      .p-banner-top-visual__image-wrapper {
        animation-delay: 0.5s;
      }
    }

    .p-banner-top-visual__background-image:nth-child(6) {
      width: calc(10.38rem / 2);
      top: calc(507 / 910 * 100%);
      left: calc(677 / 1352 * 100%);
      z-index: 3;

      .p-banner-top-visual__image-wrapper {
        animation-delay: -0.6s;
      }
    }
  }

  @include mobile {
    width: calc(100% + 0.2rem);
    margin: 0.31rem -0.1rem -1.22rem;
  }
}

.p-list-top-system {
  width: 100%;
  display: grid;
  justify-items: center;
  position: relative;
  z-index: 1;

  .p-list-top-system__item {
    width: 100%;
  }

  @include desktop {
    max-width: 12.42rem;
    margin-bottom: .43rem;
    grid-template-columns: repeat(4, 1fr);
    gap: .42rem;
  }

  @include mobile {
    max-width: 3.16rem;
    margin-bottom: .14rem;
    grid-template-columns: repeat(2, 1fr);
    gap: .12rem .18rem;
  }
}

.p-button-top-system {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 0;
    filter: blur(0.14rem);
  }

  .p-button-system__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(0 0.04rem 0.02rem rgba(0, 0, 0, 0.25));
  }

  .p-button-system__shadow::before {
    content: "";
    background-color: #efa009;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .p-button-top-system__wrapper {
    background-color: #121212;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .p-button-top-system__icon {
    flex: 0 0 auto;
  }

  .p-button-top-system__label {
    display: block;
    position: relative;

    &>* {
      display: block;
      position: relative;
    }
  }

  .p-button-top-system__label-main {
    font-weight: 500;
    letter-spacing: -0.07em;
  }

  @include desktop {
    &::before {
      top: 0.04rem;
    }

    .p-button-system__shadow {
      top: 0.04rem;
      left: 0.04rem;
    }

    .p-button-system__shadow::before {
      clip-path: path-highlight(0.13rem);
    }

    .p-button-top-system__wrapper {
      min-height: .78rem;
      padding: 0.05rem 0.13rem;
      clip-path: path-highlight(0.13rem);
      gap: 0.16rem;
    }

    .p-button-top-system__icon {
      width: 0.5rem;
    }

    .p-button-top-system__label-sub {
      margin: -0.02rem 0 -0.05rem;
      font-size: .18rem;
      line-height: calc(21 / 18);
    }

    .p-button-top-system__label-main {
      font-size: .3rem;
      line-height: calc(36 / 30);
    }
  }

  @include mobile {
    &::before {
      top: 0.02rem;
    }

    .p-button-system__shadow {
      top: 0.02rem;
      left: 0.02rem;
    }

    .p-button-system__shadow::before {
      clip-path: path-highlight(0.07rem);
    }

    .p-button-top-system__wrapper {
      min-height: .35rem;
      padding: 0.02rem 0.11rem;
      clip-path: path-highlight(0.07rem);
      gap: 0.09rem;
    }

    .p-button-top-system__icon {
      width: 0.24rem;
    }

    .p-button-top-system__label-sub {
      margin-bottom: -.03rem;
      font-size: .1rem;
    }

    .p-button-top-system__label-main {
      font-size: .14rem;
      line-height: calc(17 / 14);
    }
  }
}

.p-button-top-highlight {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Bangers", sans-serif;
  font-weight: 400;
  color: #121212;
  transition: transform 0.5s ease;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #121212;
    clip-path: polygon(0% 0%, 53.883% 18.219%, 77.298% 4.215%, 100% 4.215%, 100% 4.215%, 100% 9.598%, 100% 15.114%, 100% 20.598%, 100% 25.886%, 100% 30.812%, 100% 35.213%, 100% 38.922%, 100% 41.775%, 100% 43.608%, 100% 44.256%, 100% 68.185%, 100% 77.906%, 100% 81.781%, 24.802% 100%, 0% 0%);
    transition: transform 0.5s ease;
  }

  &:hover {
    transform: scale(1.1, 1.1) rotate(-3deg);

    &::before {
      transform: scale(0.8, 0.8) skew(-50deg, 1deg) translate(-5%, 1%) rotate(8deg);
    }
  }

  .p-button-top-highlight__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.01rem;
    z-index: 1;
  }

  @include desktop {
    max-width: 3.97rem;
    font-size: 0.5rem;
    line-height: calc(53 / 50);

    &::before {
      width: calc(428 / 397 * 100%);
      height: calc(142 / 108 * 100%);
      top: calc(-6 / 142 * 100%);
      left: calc(-22 / 397 * 100%);
    }

    .p-button-top-highlight__wrapper {
      padding: 0.18rem;
      border: 0.1rem solid #121212;
      background: #efa009 url(../resources/images/top/button_highlight_01_pattern.svg) calc(100% + 2.2rem) calc(100% + 1.31rem) / 3.16rem auto no-repeat;
    }
  }

  @include mobile {
    max-width: 1.83rem;
    font-size: 0.24rem;
    line-height: calc(26 / 24);
    filter: drop-shadow(0 0.04rem 0.02rem rgba(0, 0, 0, 0.25));

    &::before {
      width: calc(198 / 183 * 100%);
      height: calc(65 / 50 * 100%);
      top: calc(-3 / 50 * 100%);
      left: calc(-10 / 183 * 100%);
    }

    .p-button-top-highlight__wrapper {
      padding: 0.08rem 0.15rem;
      border: 0.05rem solid #121212;
      background: #efa009 url(../resources/images/top/button_highlight_01_pattern.svg) calc(100% + 0.99rem) calc(100% + 0.7rem) / 1.46rem auto no-repeat;
    }
  }
}

.p-slider-top-gameplay {
  margin: 0 auto;

  .p-slider-top-gameplay__slide {
    display: flex;
    position: relative;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    filter: blur(0.04rem);
    opacity: 0;
    z-index: 0;
  }

  .p-slider-top-gameplay__slide.swiper-slide-active,
  .p-slider-top-gameplay__slide.swiper-slide-prev,
  .p-slider-top-gameplay__slide.swiper-slide-next {
    opacity: 1;
  }

  .p-slider-top-gameplay__slide.swiper-slide-active {
    z-index: 2;
    filter: none;

    .p-slider-top-gameplay__slide-wrapper::after {
      opacity: 0;
    }
  }

  .p-slider-top-gameplay__slide.swiper-slide-prev,
  .p-slider-top-gameplay__slide.swiper-slide-next {
    z-index: 1;
  }

  .p-slider-top-gameplay__slide-wrapper {
    border: 1px solid #efa009;
    background-color: #000;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;

    .u-object {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .p-slider-top-gameplay__slide-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.63;
    transition: opacity 0.5s ease;
  }

  .p-slider-top-gameplay__arrow {
    margin: 0;
    background: #efa009 url(../resources/images/top/icon_arrow_01.svg) 50% 50% / auto auto no-repeat;
    transform: none;

    &::after {
      display: none;
    }
  }

  .p-slider-top-gameplay__arrow.swiper-button-prev {
    transform: scale(-1, 1);
  }

  @include desktop {
    .p-slider-top-gameplay__slide {
      width: 3.25rem;
      height: 4.87rem;
    }

    .p-slider-top-gameplay__slide:not(.swiper-slide-active) {
      transform: scale(calc(297 / 487), calc(297 / 487));
    }

    .p-slider-top-gameplay__slide-wrapper {
      width: 8.97rem;
      padding-top: calc(487 / 897 * 100%);
      border-radius: 0.15rem;
    }

    .p-slider-top-gameplay__arrow {
      width: 0.65rem;
      height: 1.32rem;
      top: calc((50% - 1.32rem / 2) - (0.53rem / 2));
      border-radius: 0.11rem;
      background-size: 0.3rem auto;
    }

    .p-slider-top-gameplay__arrow.swiper-button-prev {
      left: calc(50% - 6.41rem);
    }

    .p-slider-top-gameplay__arrow.swiper-button-next {
      right: calc(50% - 6.41rem);
    }
  }

  @include mobile {
    .p-slider-top-gameplay__slide {
      width: 0.88rem;
      height: 1.71rem;
    }

    .p-slider-top-gameplay__slide:not(.swiper-slide-active) {
      transform: scale(calc(118 / 171), calc(118 / 171));
    }

    .p-slider-top-gameplay__slide-wrapper {
      width: 3.14rem;
      padding-top: calc(171 / 314 * 100%);
      border-radius: 0.08rem;
    }

    .p-slider-top-gameplay__arrow {
      width: 0.23rem;
      height: 0.46rem;
      top: calc((50% - 0.46rem / 2) - (0.12rem / 2));
      border-radius: 0.05rem;
      background-size: 0.1rem auto;
    }

    .p-slider-top-gameplay__arrow.swiper-button-prev {
      left: 0.12rem;
    }

    .p-slider-top-gameplay__arrow.swiper-button-next {
      right: 0.12rem;
    }
  }
}

.p-icon-top-play {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #efa009 url(../resources/images/top/icon_arrow_02.svg) 62% 50% / auto auto no-repeat;
  display: block;
  position: absolute;
  z-index: 1;
  cursor: pointer;

  @include desktop {
    width: 1.13rem;
    height: 1.13rem;
    top: calc(50% - 1.13rem / 2);
    left: calc(50% - 1.13rem / 2);
    background-size: 0.47rem auto;
  }

  @include mobile {
    width: 0.38rem;
    height: 0.38rem;
    top: calc(50% - 0.38rem / 2);
    left: calc(50% - 0.38rem / 2);
    background-size: 0.16rem auto;
  }
}

.p-section-top-about {
  @include desktop {
    margin-bottom: 0.13rem;
    padding: 0.24rem 0 0.62rem;
    background: url(../resources/images/common/background_character_01.jpg) 50% 50% / cover no-repeat;
  }

  @include mobile {
    margin-bottom: 0.04rem;
    padding: 0.04rem 0 0.22rem;
    background: url(../resources/images/common/sp/background_character_01.jpg) 50% 50% / cover no-repeat;
  }
}

.p-section-top-news {
  @include desktop {
    margin-bottom: -0.24rem;

    .c-title-primary {
      margin-bottom: .25rem;
    }

    .c-tab-news {
      max-width: 14.4rem;
      margin: 0 auto .34rem;
    }

    .c-filters-news {
      margin-bottom: .3rem;
    }

    .c-pagination {
      margin-top: .24rem;
    }
  }

  @include mobile {
    margin-bottom: -0.08rem;

    .c-title-primary {
      margin-bottom: .07rem;
    }

    .c-tab-news {
      margin: 0 auto .14rem;
    }

    .c-filters-news {
      margin-bottom: .13rem;
    }

    .c-pagination {
      margin-top: .09rem;
    }
  }
}

.p-section-top-gameplay {
  @include desktop {
    margin-bottom: .82rem;

    .c-title-primary {
      margin-bottom: .65rem;
    }
  }

  @include mobile {
    margin-bottom: .16rem;

    .c-title-primary {
      margin-bottom: .14rem;
    }
  }
}

.video-popup {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 99999;

  &.active {
    display: flex;
    align-items: center;
  }

  .video-popup-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .video-popup-content {
    position: relative;
    max-width: 100%;
    background: #000;
  }

  .video-wrapper {
    position: relative;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include desktop {
    .video-popup-content {
      width: 70%;
      margin: 5% auto;
    }
  }

  @include mobile {
    .video-popup-content {
      width: 90%;
      margin: 0 auto;
    }
  }
}
