@charset "utf-8";
@use "../_base/base" as *;

.l-main {
  @include desktop {
    padding-top: .86rem;
    background: #fff url(../resources/images/common/background_page_01.svg) calc(50% + 2.63rem) calc(0% - 2.98rem) / 21.31rem auto no-repeat;
  }

  @include mobile {
    background: #fff url(../resources/images/common/sp/background_page_01.svg) 100% 0% / 3.64rem auto no-repeat;
  }
}